### Q1. Create a list of five integers and print it.

In [1]:
num=list([1,2,3,4,5])
num

[1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [2]:
len(num)

5

### Q3. Create a tuple with three elements and print the second item.

In [3]:
name=('mohamed','ahmed','ali')
name[1]

'ahmed'

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [10]:
Cr_dic={'name':'mohamed','age':'22','city':'cairo'}
keys=Cr_dic.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [14]:
my_list=['mohaned','ahmed','ali','abdallah']
my_set=set(my_list)
my_set

{'abdallah', 'ahmed', 'ali', 'mohaned'}

### Q6. Create a string and print its first and last characters.

In [20]:
txt='mohamed ahmed onsy'
print(txt[0])
print(txt[-1])

m
y

### Q7. Take input from the user and print it.

In [22]:
name=input('enter your name:')
age=int(input('enter the age: '))
print(name)
print(age)

mohamed
22

### Q8. Write a program to add two numbers entered by the user.

In [24]:
num1=int(input('enter 1st number'))
num2=int(input('enter 2nd number'))
add=num1+num2
print(add)

56

### Q9. Use `type()` function to check the data type of a variable.

In [27]:
name='mohamed'
age=22
grades=3.82
boolean=True
print(type(name))
print(type(age))
print(type(grades))
print(type(boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### Q10. Create a boolean variable and print it.

In [29]:
boolean1=True
boolean2=False

print(boolean1)
print(boolean2)

True
False

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [33]:
number=int(input('enter the number: '))


if number>0:
    print('the number is positive')
elif number<0:
    print('the number is negative')
else :
    print('the number = zero')



number2=int(input('enter the number: '))

if number2>0:
    print('the number is positive')
elif number2<0:
    print('the number is negative')
else :
    print('the number = zero')


number3=int(input('enter the number: '))

if number3>0:
    print('the number is positive')
elif number3<0:
    print('the number is negative')
else :
    print('the number = zero')

the number is positive
the number is negative
the number = zero

### Q12. Write a program to check if a number is even or odd.

In [37]:
numb=int(input('enter number to check this number even or odd'))
if numb%2==0:
    print('the number is even')
else:
    print('the number is odd')

the number is even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [46]:
name=input('enter the name')
for names in range(3):
    print(name)

mohamed
mohamed
mohamed

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [49]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [57]:
_list=[1,2,3,4,5,6,7,8,9,10]
for i in _list:
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [64]:
sum=0
for i in range(1,101):
    sum += i
print(sum)

5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [65]:
for num in range(1,21):
    if num%2==0:
        print(num)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [69]:
txt='mohamed ahme mohamed'
for i in txt:
    print(i)

m
o
h
a
m
e
d

a
h
m
e

m
o
h
a
m
e
d

### Q19. Use a `for` loop to print all values in a dictionary.

In [81]:
my_dict={'fname':'mohamed','age':22,"city":'cairo'}
for val in my_dict:
    print(my_dict[val])

mohamed
22
cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [18]:
fact=1
number=int(input('enter the number: '))
if number==0:
    print('facotial zero = 0')
else:
    for f in range(1,number+1):
        fact *= f
    print(fact)

3628800

### Q21. Create a list of your 5 favorite fruits.

In [134]:
my_list1=['mango','watermelon','apple','banana','orange']

### Q22. Add a new fruit to your list of favorite fruits.

In [135]:
my_list1.append('grapes') #add last item on list
print(my_list1)

['mango', 'watermelon', 'apple', 'banana', 'orange', 'grapes']

### Q23. Remove the second item from a list.

In [ ]:
my_list1.pop(1)
print(my_list1)

['mango', 'apple', 'banana', 'orange', 'grapes']

### Q24. Sort a list of numbers in descending order.

In [ ]:
list2=[1,12,43,4,12,0,324,2]
sort=sorted(list2,reverse=True)
print(sort)

[324, 43, 12, 12, 4, 2, 1, 0]

### Q25. Find the maximum and minimum values in a list.

In [ ]:
print(('the max number= ',max(list2)))
print(('the min number= ',min(list2)))

('the max number= ', 324)
('the min number= ', 0)

### Q26. Count how many times a value appears in a list.

In [ ]:
list2=[1,12,43,4,12,0,324,2,1,1,2]
count=list2.count(1)
print(count)

3

### Q27. Check if a specific value exists in a list.

In [171]:
num=int(input('enter the number to check'))
if num in list2:
    print('the value is exist')
else:
    print('the value is not exist')

the value is exist

### Q28. Reverse a list without using reverse() function.

In [180]:
for i in range(len(list2) -1,-1,-1):
    print(list2[i])

2
1
1
2
324
0
12
4
43
12
1

### Q29. Make a copy of a list and modify the copy only.

In [181]:
copy=list2.copy()
copy.append(50)
print(copy)

[1, 12, 43, 4, 12, 0, 324, 2, 1, 1, 2, 50]

### Q30. Use slicing to get the first 3 items of a list.

In [188]:
print(list2[:3])

[1, 12, 43]

### Q31. Create a tuple with 4 elements and print its length.

In [202]:
my_tuple=(1,22,2,3,4,5,6)
print(len(my_tuple))

7

### Q32. Access the last element of a tuple.

In [203]:
print(my_tuple[-1])

6

### Q33. Convert a tuple into a list.

In [204]:
con=list(my_tuple)
print(con)

[1, 22, 2, 3, 4, 5, 6]

### Q34. Convert a list into a tuple.

In [205]:
conv_tuple=tuple(con)
print(conv_tuple)

(1, 22, 2, 3, 4, 5, 6)

### Q35. Check if a value exists in a tuple.

In [206]:
value=int(input('enter the value'))
if value in my_tuple:
    print('True')
else:
    print('False')

True

### Q36. Concatenate two tuples.

In [207]:
tuple2=(5,4,5,6,7)
print(my_tuple+tuple2)

(1, 22, 2, 3, 4, 5, 6, 5, 4, 5, 6, 7)

### Q37. Repeat a tuple 3 times.

In [213]:
for i in range(4):
    r=my_tuple*i
print(r)

(1, 22, 2, 3, 4, 5, 6, 1, 22, 2, 3, 4, 5, 6, 1, 22, 2, 3, 4, 5, 6)

### Q38. Find the index of an element in a tuple.

In [215]:
print(my_tuple.index(5))

5

### Q39. Use tuple unpacking to assign values to variables.

In [66]:
namee=('mohamed','ahmed','onsy')
fname=namee[0]
mname=namee[1]
lname=namee[2]
print(f'fname: {fname}\nMname: {mname}\nLname" [lname]')

fname: mohamed
Mname: ahmed
Lname" [lname]

In [61]:
### Q40. Create a nested list and access an inner element.

In [14]:
k=[[1,2],[3,4],[5,6]]
print(k[1][1])

4

### Q41. Create a set of 5 unique colors.

In [218]:
my_set={'red','orange','yellow','black','green'}
my_set

{'black', 'green', 'orange', 'red', 'yellow'}

### Q42. Add a new color to the set.

In [221]:
my_set.add('blue')
my_set

{'black', 'blue', 'green', 'orange', 'red', 'yellow'}

### Q43. Remove an item from the set using `remove()`.

In [222]:
my_set.remove('green')
my_set

{'black', 'blue', 'orange', 'red', 'yellow'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [224]:
my_set.discard('red')
my_set

my_set.discard('skyblue')#no error if the item is not found
my_set

{'black', 'blue', 'orange', 'yellow'}

### Q45. Create a set from a list with duplicate values.

In [225]:
duplictate_list=[1,2,1,1,3,4,5,6,3,3,3,2,2,4,6,10,9]
_set=set(duplictate_list)
_set

{1, 2, 3, 4, 5, 6, 9, 10}

### Q46. Find the union of two sets.

In [226]:
s1={1,2,3,4,5,6}
s2={2,4,6,8,10}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 10}

### Q47. Find the intersection of two sets.

In [227]:
s1.intersection(s2)

{2, 4, 6}

### Q48. Find the difference between two sets.

In [230]:
s1.difference(s2)

{1, 3, 5}

### Q49. Check if a set is a subset of another set.

In [231]:
s1.issubset(s2)

False

### Q50. Check if two sets are disjoint.

In [4]:
s1={1,2,3,4,5,6}
s2={2,4,6,8,10}
s1.isdisjoint(s2)

False

### Q51. Create a dictionary with 3 items: name, age, and city.

In [5]:
my_dict={'name':'mohamed','age':22,'city':'cairo'}
my_dict

{'name': 'mohamed', 'age': 22, 'city': 'cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [12]:
my_dict.update({'course':'AI'})
my_dict

{'name': 'mohamed', 'age': 22, 'city': 'cairo', 'course': 'AI'}

### Q53. Update the value of an existing key in the dictionary.

In [13]:
my_dict.update({'age':23})
my_dict

{'name': 'mohamed', 'age': 23, 'city': 'cairo', 'course': 'AI'}

### Q54. Remove a key from the dictionary using `pop()`.

In [14]:
my_dict.pop('course')
my_dict

{'name': 'mohamed', 'age': 23, 'city': 'cairo'}

### Q55. Check if a key exists in the dictionary.

In [19]:
if 'age' in my_dict:
    print('True')
else:
    print('False')

if 'course' in my_dict:
    print('True')
else:
    print('False')

True
False

### Q56. Loop through a dictionary and print all keys and values.

In [33]:
for key , value in my_dict.items():
    print(key,value)

name mohamed
age 23
city cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [35]:
s=my_dict.keys()
s

dict_keys(['name', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [36]:
s=my_dict.values()
s

dict_values(['mohamed', 23, 'cairo'])

### Q59. Get all key-value pairs using `items()`.

In [37]:
s=my_dict.items()
s

dict_items([('name', 'mohamed'), ('age', 23), ('city', 'cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [11]:
key=['name','age','city']
value=['mohamed',22,'cairo']

my_dic={}
for i in range(len(key)):
    my_dic[key[i]] = value[i]

print(my_dic)

{'name': 'mohamed', 'age': 22, 'city': 'cairo'}
The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [ ]:
key=['name','age','city']
value=['mohamed',22,'cairo']

my_dict=dict(zip(key,value))
my_dict